<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtzj.mapper.CategoryMapper">
	<resultMap id="categoryMap" type="Category">
		<id property="id" column="id" />
		<result property="name" column="name" />
        <result property="title" column="title" />
        <result property="rank" column="rank" />
        <result property="status" column="status" />
	</resultMap>

	<select id="getCategories" resultMap="categoryMap">
		select * from category
	</select>
</mapper> 
