<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtzj.mapper.EvalMapper">
	<resultMap id="evalMap" type="Eval">
		<id property="id" column="id" />
		<result property="eval" column="eval" />
        <result property="itemId" column="itemId" />
	</resultMap>

	<insert id="insert" parameterType="Eval" useGeneratedKeys="true" keyProperty="id">
          INSERT INTO eval (eval,itemId) VALUES (#{eval},#{itemId})
	</insert>

    <update id="update" parameterType="Eval">
        update eval
        <set>
            <if test="eval != null">
                eval = #{eval},
            </if>
            <if test="itemId != null">
                itemId = #{itemId},
            </if>
        </set>
        where id=#{id}
    </update>
</mapper> 
