<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtzj.mapper.ItemMapper">
    <resultMap id="itemMap" type="Item">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="title" column="title"/>
        <result property="desc" column="desc"/>
        <result property="pic" column="pic"/>
        <result property="categoryId" column="categoryId"/>
        <result property="tbPath" column="tbPath"/>
        <result property="newPrice" column="newPrice"/>
        <result property="oldPrice" column="oldPrice"/>
        <result property="status" column="status"/>
        <result property="likeCount" column="likeCount"/>
        <result property="collectCount" column="collectCount"/>
        <collection property="evalList" javaType="Eval">
            <id property="id" column="eval_id"/>
            <result property="eval" column="eval_eval"/>
        </collection>
    </resultMap>

    <select id="getAll" resultMap="itemMap">
		SELECT i.*,
		e.id AS eval_id,
		e.eval AS eval_eval
		FROM item i LEFT JOIN eval e ON i.Id = e.itemId
		WHERE i.status=1
	</select>

    <select id="get" resultMap="itemMap" parameterType="hashmap">
        SELECT i.*,e.id AS eval_id,
		e.eval AS eval_eval FROM item i LEFT JOIN eval e ON i.Id=e.itemId WHERE i.id = #{id}
    </select>

    <sql id="where">

    </sql>


    <select id="find" resultMap="itemMap">
        SELECT
        *
        FROM item
        <include refid="where"/>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy} ${order}
        </if>
        <if test="limit != null">
            limit
            <if test="offset != null">
                #{offset},
            </if>
            #{limit}
        </if>
    </select>

    <select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT COUNT(id) FROM item
        <include refid="where"/>
    </select>

    <update id="update" parameterType="Item">
        UPDATE item
        <set>
            <if test="title!=null">
                title = #{title},
            </if>
            <if test="pic!=null">
                pic = #{pic},
            </if>
            <if test="desc!=null">
                `DESC` = #{desc},
            </if>
            <if test="categoryId!=null and categoryId>0">
                categoryId = #{categoryId},
            </if>
            <if test="tbPath!=null">
                tbPath  = #{tbPath},
            </if>
            <if test="newPrice!=null and newPrice>0">
                newPrice = #{newPrice},
            </if>
            <if test="oldPrice!=null and oldPrice>0">
                oldPrice = #{oldPrice},
            </if>
            <if test="status!=null and status>0">
                status = #{status},
            </if>
            <if test="likeCount!=null and likeCount>0">
                likeCount = #{likeCount},
            </if>
            <if test="collectCount!=null and collectCount>0">
                collectCount = #{collectCount},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <insert id="insert" parameterType="Item">
        insert into item (title,`desc`,pic,tbPath,categoryId,oldPrice,newPrice,status) values
        (#{title},#{desc},#{pic},#{tbPath},#{categoryId},#{oldPrice},#{newPrice},#{status})
    </insert>
</mapper> 
